<template>
    <article
        class="media comment"
        @mouseover="controlElementActive = true"
        @mouseleave="controlElementActive = false"
    >
        <figure class="media-left">
            <router-link
                v-if="comment.author.avatar"
                class="image is-48x48 is-square"
                :to="{ name: 'user-page', params: { id: comment.author.id } }"
            >
                <img class="is-rounded fit" :src="comment.author.avatar">
            </router-link>

            <router-link v-else :to="{ name: 'user-page', params: { id: comment.author.id } }">
                <DefaultAvatar class="image is-48x48" :user="comment.author" />
            </router-link>
        </figure>
        <div class="media-content">
            <div class="columns is-mobile">
                <div class="column">
                    <div class="content">
                        <p>
                            <strong>
                                {{ comment.author.firstName }} {{ comment.author.lastName }}
                            </strong>
                            <br>
                            {{ comment.body }}
                            <br>
                        </p>
                        <figure v-if="comment.imageUrl" class="image is-3by1 comment-image">
                            <img
                                :src="comment.imageUrl"
                                alt="Comment image"
                                @click="showImageModal"
                            >
                        </figure>
                    </div>
                </div>
                <transition name="fade" mode="out-in">
                    <div
                        class="column is-narrow control-elements"
                        v-if="isCommentOwner(comment.id, user.id)"
                        v-show="controlElementActive"
                    >
                        <div class="buttons">
                            <b-tooltip label="Edit" animated>
                                <a class="level-item" @click="onEditComment">
                                    <span class="control-elements">
                                        <font-awesome-icon icon="pen" />
                                    </span>

                                </a>
                            </b-tooltip>
                            <b-tooltip label="Delete" animated>
                                <a class="level-item" @click="onDeleteComment">
                                    <span class="control-elements">
                                        <font-awesome-icon icon="times" />
                                    </span>
                                </a>
                            </b-tooltip>
                        </div>
                    </div>
                </transition>
            </div>
            <nav class="comment-footer is-mobile">
                <small class="has-text-grey">
                    {{ comment.created | createdDate }}
                </small>
                <div class="level-left">
                    <b-tooltip label="Like" animated>
                        <a class="level-item" @click="onLikeOrDislikeComment">
                            <span
                                class="icon is-medium has-text-info"
                                :class="{
                                    'has-text-danger': commentIsLikedByUser(comment.id, user.id)
                                }"
                            >
                                <font-awesome-icon icon="heart" />
                            </span>
                        </a>
                    </b-tooltip>
                    <b-tooltip v-if="comment.likesCount === 0" label="Nobody likes it yet" animated>
                        <a
                            class="level-item"
                        >
                            {{ comment.likesCount }}
                        </a>
                    </b-tooltip>
                    <b-tooltip v-else label="Show who liked this" animated>
                        <a
                            class="level-item"
                            @click.stop="showLikesListModal"
                        >
                            {{ comment.likesCount }}
                        </a>
                    </b-tooltip>
                </div>
            </nav>
        </div>

        <b-modal :active.sync="isImageModalActive">
            <p class="image is-4by3">
                <img class="fit" :src="comment.imageUrl">
            </p>
        </b-modal>

        <b-modal :active.sync="isEditCommentModalActive" has-modal-card>
            <EditCommentForm :comment="comment" />
        </b-modal>

        <b-modal :active.sync="isLikesListModalActive" has-modal-card>
            <LikesListModal :element-entity="'comment'" :comment="comment" />
        </b-modal>
    </article>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import DefaultAvatar from '../../common/DefaultAvatar.vue';
import EditCommentForm from './EditCommentForm.vue';
import LikesListModal from '../../common/LikesListModal.vue';
import showStatusToast from '../../mixin/showStatusToast';

export default {
    name: 'Comment',

    components: {
        DefaultAvatar,
        EditCommentForm,
        LikesListModal
    },

    mixins: [showStatusToast],

    data: () => ({
        isEditCommentModalActive: false,
        isImageModalActive: false,
        isLikesListModalActive: false,
        controlElementActive: false,
    }),

    props: {
        comment: {
            type: Object,
            required: true,
        },
    },

    computed: {
        ...mapGetters('auth', {
            user: 'getAuthenticatedUser'
        }),

        ...mapGetters('comment', [
            'isCommentOwner',
            'commentIsLikedByUser'
        ])
    },

    methods: {
        ...mapActions('comment', [
            'deleteComment',
            'likeOrDislikeComment',
            'fetchUsersWhoLikedByCommentId'
        ]),

        showImageModal() {
            this.isImageModalActive = true;
        },

        onEditComment() {
            this.isEditCommentModalActive = true;
        },

        onDeleteComment() {
            this.$dialog.confirm({
                title: 'Deleting comment',
                message: 'Are you sure you want to <b>delete</b> your comment? This action cannot be undone.',
                confirmText: 'Delete comment',
                type: 'is-danger',

                onConfirm: async () => {
                    try {
                        await this.deleteComment(this.comment.id);

                        this.showSuccessMessage('Comment deleted!');

                        this.$emit('deleted');
                    } catch {
                        this.showErrorMessage('Unable to delete comment!');
                    }
                }
            });
        },

        async onLikeOrDislikeComment() {
            try {
                await this.likeOrDislikeComment({
                    id: this.comment.id,
                    userId: this.user.id
                });
            } catch (error) {
                console.error(error.message);
            }
        },

        showLikesListModal() {
            this.isLikesListModalActive = true;
        }
    }
};
</script>

<style lang="scss" scoped>
nav {
    margin-left: -8px;
}

.content {
    p {
        margin-bottom: 0;
    }
}

.control-elements {
    span {
        margin: 0 0 .5rem .5rem;
    }
}

.comment-image {
    margin: 12px 0 0 0;

    img {
        width: auto;
        cursor: pointer;
    }
}

.content {
    figure {
        margin-top: 0;
        margin-bottom: .75rem;
    }
}

.comment-footer {
    padding: 0 .75rem;
    display: flex;
    justify-content: space-between;
    margin: -.75rem;
    small {
        line-height: 1.5rem;
    }
}

.comment .columns {
    margin-bottom: 0;
}
</style>
