<template>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Liked by</p>
        </header>

        <section class="modal-card-body">
            <div class="columns is-multiline">
                <div class="column is-3 has-text-centered" v-for="user in usersWhoLiked" :key="user.id">
                    <router-link
                        v-if="user.avatar"
                        class="image is-96x96 is-margin-auto"
                        :to="{ name: 'user-page', params: { id: user.id } }"
                    >
                        <img class="is-rounded fit is-margin-auto" :src="user.avatar" alt="Author avatar">
                    </router-link>

                    <router-link v-else :to="{ name: 'user-page', params: { id: user.id } }">
                        <DefaultAvatar class="image is-96x96" :user="user" />
                    </router-link>
                    <strong class="name">
                        {{ user.firstName }} {{ user.lastName }}
                    </strong>
                </div>
            </div>
        </section>
        <infinite-loading @infinite="infiniteHandler">
            <div slot="no-more" />
            <div slot="no-results" />
            <div slot="spinner" />
        </infinite-loading>
    </div>
</template>

<script>
import { mapActions } from 'vuex';
import InfiniteLoading from 'vue-infinite-loading';
import DefaultAvatar from './DefaultAvatar.vue';
import showStatusToast from '../mixin/showStatusToast';

export default {
    name: 'LikesListModal',

    components: {
        DefaultAvatar,
        InfiniteLoading
    },

    mixins: [showStatusToast],

    props: {
        elementEntity: {
            type: String,
            required: true
        },

        comment: {
            type: Object,
            required: false,
            default: () => {}
        }
    },

    data: () => ({
        usersWhoLiked: [],
        page: 0,
    }),

    methods: {
        ...mapActions('tweet', [
            'fetchUsersWhoLikedByTweetId'
        ]),

        ...mapActions('comment', [
            'fetchUsersWhoLikedByCommentId'
        ]),

        async infiniteHandler($state) {
            try {
                const users = await this.fetchUsersWhoLiked({
                    params: {
                        page: this.page + 1
                    }
                });

                if (users.length) {
                    this.usersWhoLiked.push(...users);
                    this.page += 1;
                    $state.loaded();
                } else {
                    $state.complete();
                }
            } catch (error) {
                this.showErrorMessage(error.message);
                $state.complete();
            }
        },

        fetchUsersWhoLiked({ params }) {
            return this.elementEntity === 'tweet'
                ? this.fetchUsersWhoLikedByTweetId({ tweetId: this.$route.params.id, params })
                : this.fetchUsersWhoLikedByCommentId({ commentId: this.comment.id, params });
        }
    },
};
</script>

<style scoped>
.is-margin-auto {
    margin: 0 auto;
}
</style>
