<template>
    <div class="feed-container">
        <div class="navigation columns">
            <b-button
                class="btn-add-tweet"
                rounded
                size="is-medium"
                type="is-danger"
                icon-left="twitter"
                icon-pack="fab"
                @click="onAddTweetClick"
            >
                Tweet :)
            </b-button>
            <div>
                <b-select
                    placeholder="Sort by"
                    size="is-medium"
                    rounded
                    @input="sort"
                >
                    <option :value="{ sort: 'created_at', direction: 'desc' }">
                        Date (newest)
                    </option>
                    <option :value="{ sort: 'created_at', direction: 'asc' }">
                        Date (oldest)
                    </option>
                    <option :value="{ sort: 'likes_count', direction: 'desc' }">
                        Most likes
                    </option>
                </b-select>
            </div>
        </div>

        <TweetPreviewList :tweets="tweets" @infinite="infiniteHandler" />

        <b-modal :active.sync="isNewTweetModalActive" has-modal-card>
            <NewTweetForm />
        </b-modal>
    </div>
</template>

<script>
import { mapActions } from 'vuex';
import TweetPreviewList from '../../common/TweetPreviewList.vue';
import NewTweetForm from './NewTweetForm.vue';
import { pusher } from '@/services/Pusher';
import { SET_TWEET } from '@/store/modules/tweet/mutationTypes';
import showStatusToast from '@/components/mixin/showStatusToast';

export default {
    name: 'FeedContainer',

    mixins: [showStatusToast],

    components: {
        TweetPreviewList,
        NewTweetForm,
    },

    data: () => ({
        tweets: {},
        isNewTweetModalActive: false,
        page: 1,
    }),

    async created() {
        try {
            this.tweets = await this.fetchTweets({
                page: 1
            });
        } catch (error) {
            this.showErrorMessage(error.message);
        }

        const channel = pusher.subscribe('private-tweets');

        channel.bind('tweet.added', (data) => {
            this.$store.commit(`tweet/${SET_TWEET}`, data.tweet);
        });
    },

    beforeDestroy() {
        pusher.unsubscribe('private-tweets');
    },

    methods: {
        ...mapActions('tweet', [
            'fetchTweets',
        ]),

        onAddTweetClick() {
            this.showAddTweetModal();
        },

        showAddTweetModal() {
            this.isNewTweetModalActive = true;
        },

        async infiniteHandler($state) {
            try {
                const tweets = await this.fetchTweets({ page: this.page + 1 });

                if (tweets.length) {
                    this.page += 1;
                    $state.loaded();
                } else {
                    $state.complete();
                }
            } catch (error) {
                this.showErrorMessage(error.message);
                $state.complete();
            }
        },

        async sort({ sort, direction }) {
            try {
                this.tweets = await this.fetchTweets({
                    page: 1,
                    sort,
                    direction
                });
            } catch (error) {
                this.showErrorMessage(error.message);
            }
        }
    },
};
</script>

<style scoped lang="scss">
@import '~bulma/sass/utilities/initial-variables';

.navigation {
    padding: 10px 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.modal-card {
    border-radius: 6px;
}

.btn-add-tweet {
    transition: 0.2s ease-out all;
    box-shadow: 1px 5px 5px 0 #00000020;

    &:hover {
        box-shadow: 1px 1px 0 0 #00000020;
    }

    @media screen and (max-width: $tablet) {
        font-size: 1rem;
    }
}
</style>
