<template>
    <div class="container desktop">
        <LikesContainer />
    </div>
</template>

<script>
import LikesContainer from '@/components/view/user/LikesContainer.vue';

export default {
    name: 'Likes',
    components: {
        LikesContainer,
    },
};
</script>

<style scoped>

</style>
